<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.team.springtour.mapper.user.UserMapper">
	
	<!-- User SignIn -->
	
	<select id="selectUserById" resultType="com.team.springtour.domain.user.UserDto">
		SELECT id, password, name, birthDate, address, email, grade, inserted, authKey, passwordChangeKey FROM User
		WHERE id = #{userId}
	</select>
	
	<insert id="insertUser">
		INSERT INTO User ( id, password, name, birthDate, address, email)
		VALUES ( #{id}, #{password}, #{name}, #{birthDate}, #{address}, #{email})
	</insert>
	
	<insert id="insertAuthority">
		INSERT INTO Authority (userId)
		VALUES (#{userId})
	</insert>
	
	<update id="updateUserAuthKey">
		UPDATE User
		SET authKey = "인증 완료"
		WHERE id = #{userId}
	</update>
	
	<update id="updateUserAuthority">
		UPDATE Authority 
		SET role = #{auth}
		WHERE userId = #{userId}
	</update>
	
	<select id="countUserId" resultType="int">
		SELECT COUNT(id) 
		FROM User
		WHERE id = #{id}
	</select>
	
	<select id="countUserEmail" resultType="int">
		SELECT COUNT(email) 
		FROM User
		WHERE email = #{email}
	</select>
	
	<update id="insertUserAuthKey">
		UPDATE User
		SET authKey = #{authKey}
		WHERE id = #{userId}
	</update>
	
	<update id="insertUserPasswordChangeKey">
		UPDATE User
		SET passwordChangeKey = #{pwChangeKey}
		WHERE id = #{userId}
	</update>
	
	<update id="updateUserInfoByUserId">
		UPDATE User
		SET name = #{name},
			birthDate = #{birthDate},
			address = #{address},
			email = #{email},
			grade = #{grade},
			inserted = #{inserted}
		WHERE id = #{id}
	</update>
	
	<select id="selectUserListAll" resultType="com.team.springtour.domain.user.UserDto">
		SELECT id, 
				password, 
				name, 
				birthDate, 
				address, 
				email, 
				grade, 
				inserted, 
				authKey 
		FROM User
	</select>
	
	<select id="selectUserIdByEmail" resultType="string">
		SELECT id FROM User
		WHERE email = #{email}
	</select>
	
	<update id="updateUserPasswordChangeKey">
		UPDATE User
		SET passwordChangeKey = "null"
		WHERE id = #{userId}
	</update>
	
	<update id="updateUserPasswordByUserId">
		UPDATE User
		SET password = #{newPassword}
		WHERE id = #{userId}
	</update>
	
	<select id="selectEnquiryCategoryAll" resultType="com.team.springtour.domain.user.EnquiryCategoryDto">
		SELECT categoryName FROM EnquiryCategory
	</select>
	
	<select id="selectPrivateEnquiryByUserId" resultType="com.team.springtour.domain.user.PrivateEnquiryDto">
		SELECT indexId,
				clientName,
				title,
				category,
				body,
				inserted,
				replyInfo,
				reply
		FROM PrivateEnquiry
		WHERE clientName = #{userId}
		ORDER BY indexId DESC
	</select>
	
	<insert id="insertPrivateEnquiry">
		INSERT INTO PrivateEnquiry (clientName, title, category, body)
		VALUES (#{clientName}, #{title}, #{category}, #{body})
	</insert>
	
	<select id="selectPrivateEnquiryByIndexId" resultType="com.team.springtour.domain.user.PrivateEnquiryDto">
		SELECT indexId,
				clientName,
				title,
				category,
				body,
				inserted,
				replyInfo,
				reply
		FROM PrivateEnquiry
		WHERE indexId = #{indexId}
	</select>
	
	<select id="selectPrivateEnquiryAll" resultType="com.team.springtour.domain.user.PrivateEnquiryDto">
		SELECT indexId,
				clientName,
				title,
				category,
				body,
				inserted,
				replyInfo,
				reply
		FROM PrivateEnquiry
		ORDER BY indexId DESC
	</select>
	
	<update id="updatePrivateEnquiryByReply">
		UPDATE PrivateEnquiry
		SET reply = #{reply},
			replyInfo = 1
		WHERE indexId = #{indexId}
	</update>
	
</mapper>











