<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.team.springtour.mapper.serviceCenter.QnAreplyMapper">


	<insert id="insertQnaReply">
		INSERT INTO QnAreply (qnaIndexId, qnaContent, inserted, writerId)
		VALUES (#{qnaIndexId}, #{qnaContent}, #{inserted}, #{writerId})
	</insert> 


	<select id="selectAllQnaIndexId" resultType="com.team.springtour.mapper.serviceCenter.QnAreplyDto">
		SELECT r.qnaIndexId, 
		       r.qnacontent,
		       r.inserted,
		       r.writerId,
		       IF(q.qnaIndexId = #{qnaContent}, 1, 0) own
		FROM QnAreply r JOIN QnA q ON r.qnaContent = q.qnaIndexId 
		WHERE r.writerId = #{writerId}
		ORDER BY r.qnaIndexId
	</select>
	
	<update id="updateQnaReply">
		UPDATE QnAreply
		SET qnaContent = #{qnaContent}
		WHERE qnaIndexId = #{qnaIndexId}
	
	</update>
	
	<delete id="deleteQnaReply">
		DELETE FROM QnAreply
		WHERE qnaIndexId = #{qnaIndexId}
	</delete>
	
	<delete id="deleteByBoardId">
		DELETE FROM QnAreply
		WHERE writerId = #{writerId}
	</delete>


	<select id="selectQnaReplyByIndexId" resultType="com.team.springtour.mapper.serviceCenter.QnAreplyDto">
		SELECT qnaIndexId,
		       qnaContent,
		       inserted,
		       writerId
		FROM QnAreply
		WHERE qnaIndexId = #{qnaIndexId}       
	</select>
	
	<delete id="deleteByMemberId">
		DELETE FROM QnAreply
		WHERE qnaContent = #{qnaContent}
	</delete>
	
	


</mapper>