<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.team.springtour.mapper.serviceCenter.QnAreplyMapper">


	<insert id="insertQnaReply">
		INSERT INTO QnAreply (replyIndexId, qnaContent, inserted)
		VALUES (#{replyIndexId}, #{qnaContent}, #{inserted})
	</insert> 


	<select id="selectAllQnaIndexId" resultType="com.team.springtour.mapper.serviceCenter.QnAreplyDto">
		SELECT r.replyIndexId, 
		       r.qnacontent,
		       r.inserted,
		       IF(q.replyIndexId = #{qnaContent}, 1, 0) own
		FROM QnAreply r JOIN QnA q ON r.qnaContent = q.replyIndexId 
		WHERE r.replyIndexId = #{replyIndexId}
		ORDER BY r.replyIndexId
	</select>
	
	<select id="selectQnaReplyByIndexId" resultType="com.team.springtour.mapper.serviceCenter.QnAreplyDto">
		SELECT replyIndexId,
		       qnaContent,
		       inserted,
		FROM QnAreply
		WHERE replyIndexId = #{replyIndexId}       
	</select>
 	
	<update id="updateQnaReply">
		UPDATE QnAreply
		SET qnaContent = #{qnaContent}
		WHERE replyIndexId = #{replyIndexId}
	
	</update>
	
	
	<delete id="deleteQnaReply">
		DELETE FROM QnAreply
		WHERE replyIndexId = #{replyIndexId}
	</delete>
	
	<delete id="deleteByBoardId">
		DELETE FROM QnAreply
		WHERE replyIndexId = #{replyIndexId}
	</delete>


	
	<delete id="deleteByMemberId">
		DELETE FROM QnAreply
		WHERE qnaContent = #{qnaContent}
	</delete> 
	
	

	<select id="listQnaPost" resultType="com.team.springtour.domain.serviceCenter.QnAreplyDto">
		SELECT replyIndexId, qnaContent, inserted
		FROM QnAreply
		ORDER BY replyIndexId DESC
	</select>


	<select id="listQnaPage" resultType="com.team.springtour.domain.serviceCenter.QnAreplyDto">
		SELECT replyIndexId, qnaContent
		FROM QnAreply
		GROUP BY replyIndexId 
		ORDER BY replyIndexId DESC
		LIMIT #{from},#{row}
	</select>

	<select  id="countQnaPage" resultType="int">
		SELECT Count(replyIndexId)
		FROM QnAreply
	</select>

		

</mapper>