<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.team.springtour.mapper.serviceCenter.ServiceCenterMapper">


	<select id="selectBoard" resultType="com.team.springtour.domain.serviceCenter.ServiceCenterDto">
		SELECT indexId, writer, title, body, inserted
		FROM ServiceCenter
		ORDER BY indexId DESC
	</select>

	<select id="selectBoardByIndexId" resultType="com.team.springtour.domain.serviceCenter.ServiceCenterDto">
		SELECT indexId, 
			   writer, 
			   title, 
			   body, 
			  inserted
		FROM ServiceCenter
		WHERE indexId = #{indexId}
	</select>
	
	<insert id="insertBoard" useGeneratedKeys="true" keyColumn="indexId" keyProperty="indexId">
		INSERT INTO ServiceCenter (title, body, writer)
		VALUES (#{title}, #{body}, #{writer})
	</insert>


	<select id="listServiceCenterPage" resultType="com.team.springtour.domain.serviceCenter.ServiceCenterDto">
		SELECT indexId, writer, title, body, inserted
		FROM ServiceCenter
		GROUP BY indexId
		ORDER BY indexId DESC
		LIMIT #{from}, #{row}
	</select>
	
	<select id="selectSearchAll" resultType="com.team.springtour.domain.serviceCenter.ServiceCenterDto">
		SELECT indexId, writer, title, body, inserted
		FROM ServiceCenter
		
		<if test="keyword != '%%'">
			<choose>
				<when test="type == 'all'">
					WHERE title LIKE #{keyword } OR
					      body LIKE #{keyword }
				</when>
				<when test="type == 'title'">
					WHERE title LIKE #{keyword }
				</when>
				<when test="type == 'body'">
					WHERE body LIKE #{keyword }
				</when>
			</choose>
		</if>
		
		ORDER BY indexId DESC
		LIMIT #{from}, #{row}
	</select>
	
	
	<select id="selectPostByIndexId" resultType="com.team.springtour.domain.serviceCenter.ServiceCenterDto">
		SELECT indexId, writer, title, body, inserted
		FROM ServiceCenter
		WHERE indexId = #{indexId}
	</select>

	<select id="countPostPage" resultType="int">
		SELECT Count(indexId)
		FROM ServiceCenter
	</select>

	<select id="countSearchedPostPage" resultType="int">
		SELECT Count(indexId)
		FROM ServiceCenter
		
		<if test="keyword != '%%'">
			<choose>
				<when test="type == 'all'">
					WHERE title LIKE #{keyword } OR
					body LIKE #{keyword }
				</when>
				<when test="type == 'title'">
					WHERE title LIKE #{keyword }
				</when>
				<when test="type == 'body'">
					WHERE body LIKE #{keyword }
				</when>
			</choose>
		</if>

	</select>
	
	<update id="updatePost" >
		UPDATE ServiceCenter
		SET title = #{title},
		    body = #{body}
		WHERE indexId = #{indexId}	    
	</update>
	
	
	<delete id="deletePost">
		DELETE FROM ServiceCenter
		WHERE indexId = #{indexId }
	</delete>
	
	<insert id="insertFile">
		INSERT INTO ServiceCenterNoticeFile (noticeIndexId, fileName)
		VALUES (#{noticeIndexId}, #{fileName})
	</insert>
	
	<delete id="deleteFileByNoticeId">
		DELETE FROM ServiceCenterNoticeFile
		WHERE noticeIndexId	= #{noticeIndexId}
	</delete>
	
	<select id="selectFileNameByNotice" resultType="String">
		SELECT fileName
		FROM ServiceCenterNoticeFile
		WHERE noticeIndexId = #{noticeIndexId}
	</select>
	
	
	<delete id="deleteFileByNoticeIdAndFileName">
		DELETE FROM ServiceCenterNoticeFile
		WHERE noticeIndexId = #{indexId}
		   AND fileName = #{fileName}
	</delete>



	<!-- freq - 자주묻는 질문 -->

	
	<select id="selectFreqPost" resultType="com.team.springtour.domain.serviceCenter.ServiceCenterDto">
		SELECT body
		FROM ServiceCenter
	</select>


	<select id="listFreqPage" resultType="com.team.springtour.domain.serviceCenter.ServiceCenterDto">
		SELECT indexId, body
		FROM ServiceCenter
		GROUP BY indexId
		ORDER BY indexId DESC
		LIMIT #{from}, #{row}
	</select>
	
	
	<insert id="insertFreqList" useGeneratedKeys="true" keyColumn="indexId" keyProperty="indexId">
		INSERT INTO ServiceCenter (title, writer, body)
		VALUES (#{title}, #{writer}, #{body})
	</insert>


	<select id="selectFreqSearchAll" resultType="com.team.springtour.domain.serviceCenter.ServiceCenterDto">
		SELECT indexId, body
		FROM ServiceCenter
		
		<if test="keyword != '%%'">
			<choose>
				<when test="type == 'all'">
					WHERE title LIKE #{keyword } OR
					      body LIKE #{keyword }
				</when>
				
				<when test="type == 'body'">
					WHERE body LIKE #{keyword }
				</when>
			</choose>
		</if>
		
		ORDER BY indexId DESC
		LIMIT #{from}, #{row}
	</select>
	
	<select id="countFreqPostPage" resultType="int">
		SELECT Count(indexId)
		FROM ServiceCenter
	</select>
	
	

</mapper>