<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.team.springtour.mapper.tourPackage.TourPackageMapper">

	<select id="selectTourPackageAll" resultType="com.team.springtour.domain.tourPackage.TourPackageDto">
	
	SELECT packageName,
		   price,
		   bookable,
		   country,
		   city,
		   flightDepartTicket,
		   flightReturnTicket
	FROM TourPackage;	
	</select>

	<select id = "selectFlightAll" resultType="com.team.springtour.domain.flight.FlightDto">
	
	SELECT planeNumber,
		   departureDate,
		   returnDate,
		   departurePort,
		   returnPort
	FROM Flight;
	</select>
	<insert id="insertBoard">
		INSERT INTO TourPackage (packageName,price,bookable,country,city,flightDepartTicket,flightReturnTicket)
		VALUES (#{packageName},#{price},#{bookable},#{country},#{city},#{flightDepartTicket},#{flightReturnTicket})
	</insert>
	
	<select id="getTourPackageByPackageName" resultType="com.team.springtour.domain.tourPackage.TourPackageDto">
		SELECT packageName,
		   price,
		   bookable,
		   country,
		   city,
		   flightDepartTicket,
		   flightReturnTicket
		FROM TourPackage
		WHERE packageName = #{packageName};	
	
	</select>
	
	<select id="selectAuthByUserId" resultType="string">
		SELECT role FROM Authority
		WHERE userId = #{userId}
	</select>
	


</mapper>