<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.team.springtour.mapper.flight.FlightMapper">

	<select id="selectFlightListAll" resultType="com.team.springtour.domain.flight.FlightDto">
	
	SELECT planeNumber,
		   departureDate,
		   returnDate,
		   departurePort,
		   returnPort
	FROM Flight;	
	</select>
	
	
	<select id="selectFlightListFromTo" resultType="com.team.springtour.domain.flight.FlightDto">
	SELECT planeNumber,
		   departureDate,
		   returnDate,
		   departurePort,
		   returnPort
	FROM Flight
	WHERE departurePort = #{depart} and returnPort = #{arrive};	
	</select>
	
	<insert id="insertFlight" parameterType="com.team.springtour.domain.flight.FlightDto">
		INSERT INTO Flight (planeNumber,departureDate,returnDate,departurePort,returnPort)
		VALUES (#{planeNumber},#{departureDate},#{returnDate},#{departurePort},#{returnPort})
	</insert>
	
	<delete id="delete">
        delete from Flight
        where planeNumber=#{planeNumber}
    </delete>
    
    
</mapper>	